body {
    background-color: rgb(119, 27, 119);
}

img {
    width: 500px;
    display: flex;
    margin: auto;
}

div {
    align-items: center;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}


  