.drop-cor:hover {
    background-color: rgba(240, 156, 79, 0.87) !important;
}
.navbar {
    animation: fadeInDown 1s ease-out;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-out;
}