h1 {
    color: darkcyan;
}

.container {
    position: relative;
    background-color: darkslateblue;
    width: 100%;
    height: 400px;
    display: inline-block;
}

.div1 {
    position: relative;
    background-color: orangered;
    height: 100px;
    width: 30%;
    display: inline-block;
}

.div2 {
    position: sticky;
    background-color: yellow;
    height: 100px;
    width: 30%;
    display: inline-block;
}

.div3 {
    position: absolute;
    background-color: dimgrey;
    height: 100px;
    width: 30%;
    display: inline-block;
}