
.bloco {
    background-color: aquamarine;
    margin: 10px;
    display: block;
}

.inline {
    background-color: blueviolet;
    display: inline;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.inline-block {
    display: inline-block;
    background-color: blue;
    color: white;
    margin: 10px;
    width: 100px;
    height: 50px;
}